---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* TESTING ALL OF STUFF*/

main {
    display: block
}

#main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-top: 2em;
    padding-left: 1em;
    /* padding-right: 1em;
    animation: intro 0.3s both;
    animation-delay: 0.35s */
}

@media (min-width: 80em) {
    #main {
        max-width: 1280px
    }
}
/*
#main:after {
    content: " ";
    display: block;
    clear: both
}

#main::after {
    clear: both;
    content: "";
    display: table
}
*/
.sidebar {
    clear: both;
    margin-bottom: 1em;
    background-color: #E0B0FF;
    background: #E0B0FF;
}

.sidebar::after {
    clear: both;
    content: "";
    display: table
}

@media (min-width: 64em) {
    .sidebar {
        width: 15.25424%;
        float: left;
        margin-right: 1.69492%;
        opacity: 0.50;
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out
    }
    .sidebar:hover {
        opacity: 1
    }
}

@media (min-width: 80em) {
    .sidebar {
        padding-right: 0
    }
}

@media (min-width: 64em) {
    .sticky {
        clear: both;
        position: -webkit-sticky;
        position: sticky;
        top: 2em
    }
    .sticky::after {
        clear: both;
        content: "";
        display: table
    }
    .sticky>* {
        display: block
    }
}

.navsidebar {
    font-size: 1.25rem;
}

.navsidebar a {
    display: block;
    padding: 0.125em 0;
    color: inherit
}

.navsidebar a:hover {
    text-decoration: underline
}

.navsidebar .active {
    margin-left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #dfdfdf;
    font-weight: bold;
    background: #000;
    border-radius: 8px
}

.navsidebar .active:hover {
    color: #dfdfdf
}

/******************/

//Button to top
#buttonTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color: #DF00FF;
    color: white;
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#buttonTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

a.active {
    color: #FFE00;
}

#page-link {
    color: red;
}

.tab {
    margin: 15px;
}

#selectedTab {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: 	#FFFFFF;
    background-color: #E0B0FF;
}

.nav {
    background-color: #E0B0FF;
}

.nav a {
   color: #FFF;
}
/*
@media (min-width: 64em){
    .sticky{
        clear:both;
        position:-webkit-sticky;
        position:sticky;
        top:2em
    }
    .sticky::after{
        clear:both;
        content:"";
        display:table
    }
    .sticky>*{
        display:block
    }
}

.sidebar{
    width: 45px;
    height: 90px;
    position: fixed;
    top: 10%;
    left: 10%;
    clear:both;
    margin-bottom:1em
}

.sidebar::after{
    clear:both;content:"";display:table
    }

    @media (min-width: 64em){
        .sidebar{
            width:15.25424%;
            float:left;
            margin-right:1.69492%;
            opacity:0.50;
            -webkit-transition:opacity 0.2s ease-in-out;
            transition:opacity 0.2s ease-in-out
        }
        .sidebar:hover{
            opacity:1
        }
    }

    @media (min-width: 80em){
        .sidebar{
            padding-right:0
        }
    }
*/

/*
.floating-menu {
  font-family: sans-serif;
  background: yellowgreen;
  padding: 5px;
  width: 130px;
  z-index: 100;
  position: fixed;
}
.floating-menu a,
.floating-menu h3 {
  font-size: 0.9em;
  display: block;
  margin: 0 0.5em;
  color: white;
}
*/
// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
