---
layout: index-layout
---
<div class="home">

<h1 class="post-title">Eventually want to change titles and also the menu layouts in _includes</h1>

<h2> <a name="todo-def"></a>Things of definitely todo </h2>
<ul>
    <li> <del>put pictures of: team, logo</del> </li>
    <li> <del>sample images,</del> get .svg if possible </li>
    <li> add figures, youtube video, animation, summary to index.html </li>
    <li> import stuff from labarchives/benchling </li>
    <li> SOCIAL MEDIA LINK: Do we want gray or full colour icon? </li>
    <li> "Future goals" and "Degree of execution" section and figures </li>
    <li> early approaches, and then successful approaches in some page </li>
    <li> Specific references to mrking criteria in each heading (UNSW 2016) e.g. Background (Relevance), Solution (Merit), etc. </li>
</ul>

<h2> <a name="todo-site"></a>Things of should do for website layout etc. </h2>
<ul>
    <li> Navigation menu floting tracker on each page (or even wikipedia style navigator, like Harvard 2012). </li>
    <li> Interpage menu tracker navigation for headings in markdown </li>
    <li> collage/slideshow/floating or scrolling banner for pictures </li>
    <li> Scrolling down changes background as concepts change (Dresden 2013) </li>
    <li> add SEO stuff </li>
</ul>


<h2><a name="criteria"></a>Marking criteria for the <b>Website</b></h2>

<h3> Project Ideas </h3>

<ul>
    <li><b>Relevance (worth up to 5 points):</b> Has the team made a strong case that their project idea is scientifically and/or technologically interesting?</li>

    <li><b>Specification (worth up to 5 points):</b> Are the project goals well-defined?</li>

    <li><b>Feasibility (worth up to 5 points):</b> Was it reasonable to expect that the proposed solution could be implemented by a BIOMOD team in one summer? </li>

    <li><b>Merit (worth up to 5 points):</b> Is the proposed solution a good one? Is it particularly elegant or innovative?</li>
</ul>

<h3> Project Documentation: </h3>
<ul>
    <li><b>Clarity (worth up to 10 points):</b> Is the project description well-written and easy to understand? Does it include the necessary background information and motivation for the project, methods, results, and discussion? Are the figures easy to understand? </li>

    <li><b>Transparency (worth up to 5 points):</b> Are all of the raw experimental data and source files easily accessible? Would it be straightforward to attempt to reproduce the team’s results? </li>

    <li><b>Layout (worth up to 5 points):</b> Is the team’s project page arranged in a clear and logical fashion?</li>
</ul>

<h3> Execution </h3>
<ul>
    <li>Did the team accomplish what they set out to do?</li>
</ul>


<h2><a name="whatis"></a> What is <b>Biomod</b></h2>
    <p>
    <b>BIOMOD</b> is an annual <b>biomolecular design competition</b> held at UCSF in San
    Francisco, CA, where teams of <b>undergraduates</b> build innovative and functional
    <b>nanoscale machines</b> and structures using the molecules of life. <b>Previous projects</b>
    have used DNA, RNA, and proteins as building blocks to create autonomous robots
    (Tohoku University, 2015), <b>molecular computers</b> (Dresden Nanormous, 2013), and
    prototypes for <b>nanoscale therapeutics</b> (UNSW, 2016).'
    </p>

<h2><a name="ourproject"></a>Our <b>project</b></h2>

    <p>
    In this competition, we tackle the problem of viral sensing. Current methods of
    detecting viral DNA in human samples are expensive, slow and require specialized
    equipment and training. We aim to build a biosensor for viruses that is both cheap
    and accessible.
    </p>

    <p>
    The project consists of two sections; an amplification system and a switchable DNA
    device. The amplification section detects miniscule amounts of viral DNA in a human
    sample, and amplifies this signal through the use of DNA hairpin loops. The signal is
    passed to a switchable DNA device, which changes shape and leads to a colour
    change representative of the presence of viral DNA.
    </p>

    <p>
    The ease of use and speed of viral DNA detection in this biosensor are potentially a
    game changer with huge implications for both research and the medical industry.
    Such a biosensor could be invaluable in the diagnosis and early treatment of viruses
    like influenza and HIV that are a major health concern worldwide. In particular
    remote, developing, and underfunded areas (such as rural Australia) are the most
    likely to benefit from improved accuracy and reduced cost.
    </p>

</div>
