<!-- <script>
var ToC = "<nav class='nav__list'>";

var newLine, el, title, link;

$("indextest h2").each(function() {

    el = $(this);
    title = el.text();
    link = "#" + el.attr("name");
    
    newLine = "<a href='" + link + "'>" + title + "</a>";
  
    ToC += newLine;
});

ToC += "</div>";

$(".menugen").prepend(ToC);
</script>

<div class="sidebar sticky menugen"></div> -->

<div class="sidebar sticky">
    <nav class="navsidebar"> <!-- used to be class="floating-menu" -->
        <a href="#todo-def">Things of definitely todo</a>
        <a href="#todo-site">Things of should do for website layout etc.</a>
        <a href="#criteria">Marking criteria</a>
        <a href="#whatis">What is biomod</a>
    </nav>
</div>
