<div class="sidebar sticky">
    <nav class="navsidebar"> <!-- used to be class="floating-menu" -->
        <a href="#this-competition">This competition</a>
        <a href="#our-project-outline-sections">Our project outline sections</a>
        <a href="#benefits">Benefits</a>
        <a href="#lorem">Lorem</a>
        <a href="#filler">Filler</a>
        <a href="#links">Links</a>
    </nav>
</div>
