<div class="sidebar sticky">
    <nav class="navsidebar"> <!-- used to be class="floating-menu" -->
        <a href="#todo-def">Things of definitely todo</a>
        <a href="#todo-site">Things of should do for website layout etc.</a>
        <a href="#criteria">Marking criteria</a>
        <a href="#whatis">What is biomod</a>
    </nav>
</div>
