.nav__list {
    font-size: 1.25rem
}

.nav__list ul {
    margin-bottom: 1em
}

.nav__list a {
    display: block;
    padding: 0.125em 0;
    color: inherit
}

.nav__list a:hover {
    text-decoration: underline
}

.nav__list .active {
    margin-left: -0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #dfdfdf;
    font-weight: bold;
    background: #000;
    border-radius: 8px
}

.nav__list .active:hover {
    color: #dfdfdf
}
