.sidebar {
    clear: both;
    margin-bottom: 1em
}

.sidebar::after {
    clear: both;
    content: "";
    display: table
}

@media (min-width: 64em) {
    .sidebar {
        width: 15.25424%;
        float: left;
        margin-right: 1.69492%;
        opacity: 0.50;
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out
    }
    .sidebar:hover {
        opacity: 1
    }
}


@media (min-width: 80em) {
    .sidebar {
        padding-right: 0
    }
}

.sidebar h2,
.sidebar .nav__sub-title,
.sidebar h3,
.sidebar h4,
.sidebar h5,
.sidebar h6 {
    margin-bottom: 1em;
    font-family: "Sue Ellen Francisco", "Montserrat", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif
}

.sidebar h3,
.sidebar h4 {
    margin-bottom: 1em;
    font-size: 1em
}

.sidebar p,
.sidebar li {
    font-family: "Montserrat", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: .8em;
    line-height: 1.5
}

.sidebar img {
    width: 100%
}

.sidebar__right {
    margin-bottom: 1em
}

@media (min-width: 64em) {
    .sidebar__right {
        position: relative;
        float: right;
        width: 200px;
        margin-left: 2.54237%;
        z-index: 10
    }
}

@media (min-width: 80em) {
    .sidebar__right {
        width: 300px
    }
}

.sidebar .author__name {
    font-family: "Montserrat", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
    font-size: 1em
}
