@media (min-width: 64em) {
    .sticky {
        clear: both;
        position: -webkit-sticky;
        position: sticky;
        top: 2em
    }
    .sticky::after {
        clear: both;
        content: "";
        display: table
    }
    .sticky>* {
        display: block
    }
}
