main
{
    display: block
}

#main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    margin-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    animation: intro 0.3s both;
    animation-delay: 0.35s
}
@media (min-width: 80em) {
    #main {
        max-width: 1280px
    }
}
#main:after {
    content: " ";
    display: block;
    clear: both
}

#main::after {
    clear: both;
    content: "";
    display: table
}
