
/*
    [ IMPORT RESOURCES ]
*//*
 @import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500);
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300,700,800);
*/
/*
    [ TYPHOGRAPY ]
*/
 body {
	 font-family:Cambria;
    color: #000;
}
h1, h2, h3, h4, h5, h6 {
    font-family:
	"Arial Black", Gadget, sans-serif, Arial;
	font-weight:;
	color:#428bca;
	
}
h3, h4, h5 {
    font-family:'Raleway', sans-serif;
    margin-bottom: 30px;
}
p {
    font-size: 18px;
	color:#030303;
}
iframe{
    border:0;
    outline: 0;
}
.header-content {
    margin-bottom: 40px;
    color: #FFF;
    text-align: center;
}
.header-content h2 {
    font-weight: 300;
    font-size: 40px;
}
.header-content h3 {
    font-family:'Raleway', sans-serif;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 24px;
}
ul.list li:before {
    position: absolute;
    left: 3px;
    font-family:'FontAwesome';
    content:'\f105';
}
ul.list {
    padding-left: 28px;
    padding-bottom: 10px;
    list-style: none;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/*
    [ GENERAL ELEMENTS ]
*/
 a {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #000;
}
a:hover {
    color: #000;
    text-decoration: none;
}
#main-wrapper {
    width: 100%;
    position: relative;
}
blockquote {
    margin-left: 20px;
}
blockquote p {
    margin-bottom: 10px !important;
}
code {
    display: block;
    padding: 4px 8px;
    font-size: 90%;
    color: #c7254e;
    white-space: inherit;
    background-color: #f9f2f4;
    border-radius: 2px;
}
footer {
    background: #fff;
    padding:40px;
}
footer p {
    font-size: 14px;
    text-align: center;
}
footer .social{
    text-align: center;
    margin-bottom: 20px;
}
footer .social a {
    width: 31px;
    height: 31px;
    position: relative;
    text-align: center;
    color: #202020;
    display: inline-block;
    margin-right: 5px;
    line-height: 28px;
    font-size: 16px;
    border: 1px solid #202020;
}
footer .social a:hover {
    background: #202020;
    color: #FFF;
}
footer .social a i{
    line-height: 28px;
}

#menu {
    position: fixed;
    /*width: 220px;*/
    height: 100%;
    left: 0;
    font-family:
	"Berlin Sans FB";
	font-weight:400;
	background:#428bca;
}

#menu .navbar-toggle {
    margin-top: 11px;
}
#menu .navbar-brand {
    padding-top: 10px;
    padding-bottom:20%;
    padding-left: 42px;
	padding-right:42px;
}
#menu .navbar {
    border-radius: 0;
    background: transparent;
    border: none;
    padding-top: 20%;
}
#menu .navbar-collapse {
	padding-top:100px;
	padding-left: 20px;
}
#menu .navbar-header, #menu .navbar-nav, #menu .navbar-nav li {
    float: none;
    margin-left: -10px;
}
#menu .navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-size:20px;
    letter-spacing:1.5px;
    text-transform: uppercase;
    padding-left: 30px;
}
#menu .navbar-default .navbar-nav>li>a:hover {
    background: rgba(38, 41, 46, .2);
}
#menu .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #9B59B6;
}
#menu .navbar-nav {
    margin: 7.5px -15px;
}
#menu .navbar-nav .opens .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    border: 0;
    box-shadow: none;
    background-color: transparent;
}
#menu .navbar-default .navbar-nav .opens .dropdown-menu>li>a {
    color: #777;
}
#menu .navbar-nav .opens .dropdown-menu>li>a {
    line-height: 20px;
}

#container {
    position: relative;
    /*margin-left: 220px;*/
}
#container section {
    padding: 60px;
}
#container section {
    background: #f7f8f9;
}
#container section.gray {
    background: #eceff1;
}
.mg-bt-80 {
    margin-bottom: 80px;
}
.mg-bt-60 {
    margin-bottom: 60px;
}
.mg-bt-40 {
    margin-bottom: 40px;
}
.to-top-btn {
    background: #9B9F9F;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 18px;
    line-height: 38px;
    margin: 0 auto;
    position: fixed;
    right: 15px;
    bottom: 15px;
    text-align: center;
    width: 40px;
    height: 40px;
}
.to-top-btn:hover{
    color: #9B59B6;
}
.btn {
    border-radius: 0;
    padding: 8px 13px;
    margin-right: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/*
    [ Preloader ]
*/
#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}
#status {
	background-image: url(../images/Preloader_7.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}
/* 
    [PAGES STYLE]
*/

/* ====== HOME ====== */
 #container section.home {
    padding: 0px;
}

.home .bg-parallax {
    background: url(../images/cover.jpg);
    background-color: #222;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    position: relative;
}
.home-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 0 15px;
    color: #fff;
}
.intro h2,.intro h3{
    color: #fff;
    margin: 15px;
}

.home .slide-filter {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background:rgba(0, 0, 0, 0.5);
}
.home .slide-text {
    position: absolute;
    display: block;
    bottom:60%;
    right: 0; 
    width: 100%;
    padding: 0 10px;
    z-index: 22;
    margin: 0 auto;
    text-align: center;
}
.home .slide-text h2 {
    font-family:
	"Berlin Sans FB";
    font-weight: 200;
    font-size: 56px;
    line-height: 69px;
    letter-spacing: 2px;
    color: #fff;
    position: relative;
}
.home .slide-text span {
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #fff;
    position: relative;
}
.home .slides-navigation {
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0%;
    height: 45px;
}
.home .slides-navigation a {
    position: absolute;
    font-size: 40px;
    font-weight: 300;
    top: 0;
    right: 0;
    line-height: 35px;
    z-index: 1;
    bottom: 21px;
    color: #232a2f;
}
.home .slides-navigation a:hover {
    color: #DDAD02;
}
.home .slides-navigation a.prev, .home .slides-navigation a.next {
    background: #f7f8f9;
    width: 45px;
    height: 45px;
    text-align: center;
}
.home .slides-navigation a.prev {
    right: 47px;
}
}
/* ====== Sidebar Widgets ====== */
 .sidebar .widget {
    margin-bottom: 30px;
}
.sidebar .widget ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
.sidebar .widget ul li, .sidebar .widget ul li a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #85939b;
}
.sidebar .widget ul li a:hover {
    color: #9B59B6;
}
.sidebar .widget ul li {
    margin-bottom: 7px;
}
.sidebar .widget .search-widget input[type='text'] {
    height: 45px;
    border-radius: 0;
    background: #fff;
    border:none;
    padding: 8px 12px;
    box-shadow: none;
}
.sidebar .widget .categories-widget ul li{
    float: left;
    padding: 5px 10px;
    border: 1px solid;
    margin-right: 5px;
}
.sidebar .widget .search-widget .btn {
    height: 45px;
    border-radius: 0;
    background: #e5e8eb;
    border:none;
    color: #f7f8f9;
    box-shadow: none;
    font-size: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.sidebar .widget .search-widget .btn:hover {
    color: #FFF;
}
.sidebar .widget .recent-post-widget ul li a {
    font-size: 17px;
}
.widget .widget-title {
    font-family:'Raleway', sans-serif;
    font-weight: 500;
    /*color: #FFF;*/
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 0;
}
.widget .widget-title a {
    color: inherit;
}
.widget .widget-title a:hover {
    color: #DDAD02;
}
/* Responsive CSS */
@media only screen and (max-width: 871px){ 
    .post .post-title {
        position: relative;
        right: inherit;
        top: inherit;
        background: transparent;
        padding:0;
    }
    .post .post-title h1 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .blog-comments .blog-comment-content .comment-meta .media-heading, 
    .blog-comments .blog-comment-content .comment-meta .in-reply, 
    .blog-comments .blog-comment-content .comment-meta span.time {
        display: block;
        padding-left: 0;
        margin: 8px 0;
    }
    .blog-comments .blog-comment-content .comment-meta .comment-extra {
        float: none !important;
        margin-bottom: 20px;
    }
    .media figure.pull-left {
        float: none !important;
        padding-bottom: 20px;
    }
    #primary {
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
    }
    #menu {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 99999;
    }
    .sidebar {
        padding-left: 15px;
    }
    #menu .navbar {
        padding-top: 20px;
    }
    #menu .navbar-brand {
        padding-bottom: 0;
    }
    #container {
        margin-left: 0;
    }
    .home .slide-text {
        left: 0;
    }
    .home .slides-navigation {
        bottom: 0%;
        height: 40px;
        top: inherit;
    }
    .home .slide-text h2 {
        font-size: 35px;
        line-height: 45px;
    }
    .home .slide-text span {
        font-size: 18px;
        line-height: 27px;
    }
    .services .services-icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #DDAD02;
        text-align: center;
        font-size: 30px;
        color: #FFF;
        margin: 10px 0 20px;
        position: relative;
        line-height: 70px;
    }    
    
}
@media only screen and (min-width: 481px) and (max-width: 991px){    
    .media figure.pull-left {
        float: none !important;
        padding-bottom: 20px;
    }
    #primary {
        padding-right: 0;
        margin-right: 0;
        border-right: 0;
    }
    #menu {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 99999;
    }
    .sidebar {
        padding-left: 15px;
    }
    #menu .navbar {
        padding-top: 20px;
    }
    #menu .navbar-brand {
        padding-bottom: 0;
    }
    #container {
        margin-left: 0;
    }
    .home .slide-text {
        left: 0;
    }
    .home .slides-navigation {
        bottom: 0%;
        height: 40px;
        top: inherit;
    }
    .home .slide-text h2 {
        font-size: 35px;
        line-height: 45px;
    }
    .home .slide-text span {
        font-size: 18px;
        line-height: 27px;
    }
    .services .services-icon {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: #DDAD02;
        text-align: center;
        font-size: 30px;
        color: #FFF;
        margin: 10px 0 20px;
        position: relative;
        line-height: 70px;
    }
    #menu .navbar-nav a,#menu .navbar-nav li{
        float: none;
    }
}



@media only screen and (min-width: 871px) and (max-width: 991px){    
    #menu .navbar-nav a,#menu .navbar-nav li{
        float: left;
    }
    #menu .navbar-header{
        float: left;
    }
}



@media only screen and (min-width: 992px) and (max-width: 1199px){
    #menu .navbar-header, #menu .navbar-nav, #menu .navbar-nav li{
        float: none;
    }
}
@media only screen and (min-width: 1200px){
    #menu .navbar-header, #menu .navbar-nav, #menu .navbar-nav li{
        float: none;
    }
}

/*  Bootstrap Components  */

/*
    ACCORDION
*/
 .panel-group .panel {
    margin-bottom: 5px;
}
.panel-group p {
    font-size: 16px;
}
.panel-group .panel {
    border:0;
    border-radius: 0;
    margin-top: 0 !important;
}
.panel-heading {
    border-radius: 0;
    border-top:1px solid transparent;
    padding: 0;
}
.panel-default>.panel-heading {
    color: #1A1E22;
    background-color: #e5e8eb;
    border-color: transparent;
}
.panel-title {
    font-size: 16px;
    color: inherit;
    font-weight: 700;
    display: block;
}
.panel-title a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
.panel-title a:hover{
    color: #FFF;
}
.panel-body {
    background: #c1c8cf;
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top: 0;
}
/*
    NAV TABS
*/
 .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #c1c8cf;
    color: #e5e8eb;
    border-radius: 0;
    webkit-border-radius: 0;
    border-top: 0;
    border-left: none;
    border-bottom: 0;
    border-right: 0;
}
.nav-tabs {
    border-bottom: 0;
    overflow: hidden;
}
@media screen and (max-width: 440px) {
    .nav-tabs li {
        width: 30%;
    }
}
.nav-tabs > li > a {
    font-family:'Raleway', sans-serif;
    font-size: 16px;
    color: inherit;
    background: #e5e8eb;
    font-weight: 700;
    border-left: none;
    margin: 0;
    margin-right: 5px;
    padding: 15px 20px;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nav-tabs > li.active:first-child > a:hover {
    border-left: 0;
    border-bottom: 0;
}
.nav-tabs > li > a {
    border-bottom: 1px solid #CCC;
    border:0;
    color: #1A1E22;
}
.nav-tabs > li > a:hover {
    color: #FFF;
    background: #3a3e45;
    border-top: 0;
    border-right: 0;
    border-left: none;
    border:0;
}
.nav-tabs > li:first-child > a {
    border-left: 0;
}
.tab-content {
    background: #c1c8cf;
    padding: 15px;
    border:0;
}
/*
    ALERTS
*/
 .alert {
    border-radius: 0;
    padding: 20px;
    margin-bottom: 10px;
    border:none;
    color: #FFF;
    font-size: 16px;
}
.alert-dismissable .close {
    right: -21px;
    top: -21px;
    width: 31px;
    height: 31px;
    background: #1A1E22;
    color: inherit;
    opacity: 1;
    text-shadow: none;
}
.alert-warning {
    background: #deb14d;
}
.alert-success {
    background: #70bc70;
}
.alert-info {
    background: #52adda;
}
.alert-danger {
    background: #c46868;
}
/*
    TOOLTIP
*/
 .tooltip {
    font-size: 14px;
}
.tooltip-inner {
    padding: 15px 15px;
    border-radius: 0;
    background: #1A1E22;
}
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: #1A1E22;
    border-width: 5px 5px 0;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #1A1E22;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #1A1E22;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #1A1E22;
}
/*
    LABEL
*/
 .label {
    padding: 5px 8px;
    border-radius: 0;
}
.label-warning {
    background: #deb14d;
}
.label-info {
    background: #52adda;
}
.label-success {
    background: #70bc70;
}
.label-danger {
    background: #c46868;
}
/*
    PROGRESS BAR
*/
 .progress {
    height: 25px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.07);
    box-shadow: none;
}
.progress-bar {
    padding: 20px;
}
/*
    PANEL
*/
 .panel {
    border-radius: 0;
}
.panel .panel-heading {
    border-radius: 0;
}
.panel .panel-heading h3 {
    padding: 10px;
}
/*
    TABLE
*/
 .table.table-bordered {
    background: #F4F4F4;
}
/*
    FORM
*/

 form .form-group {
    margin-bottom: 2px;
    margin-bottom: 15px;
}
form .form-group label {
    margin-bottom: 10px;
    font-weight: 400;
}
form .form-control, form textarea {
    border-radius: 0;
    background: rgba(0, 0, 0, .07);
    color: #85939b;
    border:none;
    border-left:1px solid #DDAD02;
    box-shadow: none;
}
form input.form-control {
    height: 45px;
}
form .form-control:focus, form textarea:focus {
    box-shadow: none;
    border:1px solid #DDAD02;
}
/*
    BUTTON
*/
 .btn {
    border-radius: 0;
    padding: 8px 13px;
    margin-right: 5px;
    outline: 0;
    font-weight: 700;
    height: 45px;
    border: 1px solid;
}
.btn:hover{
    color: #9B59B6;
    border-color: #9B59B6;
}
.blog-btn{
    height: auto;
}
/*
    WELL
*/
 .well {
    border-radius: 0;
    background: rgba(0, 0, 0, 0.07);
    border:1px solid #85939b;
}
/*
    PAGINATION
*/
 .pagination {
    margin: 40px 0 10px;
    display: inline-block;
}
.pagination li {
    display: inline-block;
}
.pagination li a {
    width: 55px;
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    color: #85939b;
    height: 55px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 50%;
    background: #eceff1;
    border:none;
    text-align: center;
    line-height: 55px;
    display: block;
    padding:0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.pagination li:hover a {
    background: #DDAD02;
    color: #FFF;
}
.pagination li.active a:hover {
    pointer-event:none;
    transform: none;
    -ms-transform: none;
    /* IE 9 */
    -webkit-transform: none;
    /* Safari and Chrome */
    -o-transform: none;
    /* Opera */
    -moz-transform: none;
}
.pagination li.active a {
    color: #FFF;
    background: #DDAD02;
}
.pagination>li:last-child>a, .pagination>li:last-child>span,.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-radius: 50%;
}
/*
    ICON
*/
.bs-glyphicons {
margin: 0 -19px 20px -16px;
overflow: hidden;
}
.bs-glyphicons-list {
padding-left: 0;
list-style: none;
}
.bs-glyphicons .glyphicon {
margin-top: 5px;
margin-bottom: 10px;
font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
display: block;
text-align: center;
word-wrap: break-word;
}
.bs-glyphicons li {
float: left;
width: 25%;
height: 115px;
padding: 10px;
font-size: 10px;
line-height: 1.4;
text-align: center;
border: 1px solid #fff;
background-color: #f9f9f9;
}


/*--------------own------------------------*/
/*labbook style*/
.labbookul > li
{
font-size:18px;
color:#000;
line-height:1.7;
margin-bottom:10px;
}

.labbooktable
{
color:#000;	
font-weight:560;
text-align:center;
}
.labbooktable > tr
{
	vertical-align:central;}
.labbooktablediv
{
	margin:0 auto;}
	
#menuhome .navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    padding-left: 30px;
	font-family:"Berlin Sans FB"}
	#menuhome .navbar-default .navbar-nav li{
		vertical-align:middle;
		margin-top:13px;}

p
{
text-indent:2em;
line-height:2;
}
