<!DOCTYPE html>
<html>

  {% include head.html %}

    <head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ site.url }}/{{ site.baseurl }}/css/style.css">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
	</head>


    <body style="min-width:480px;">
        <a name="top"></a>
        
        {% include header.html %}

            <div id="main" class="page-content">
                {% include projectmenu.html %}
                <div class="wrapper">
                    {% include buttonTop.html %}
                    <article class="post">
                    
                      <header class="post-header">
                        <h1 class="post-title">{{ page.label }}</h1>
                      </header>
                    
                      <div class="post-content">
                        {{ content }}
                      </div>
                    
                    </article>
                </div>
            </div>
        
        {% include footer.html %}
    </body>
</html>
